<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Log</title>
</head>
<body>
    {% extends 'DJ/base.html' %}

     {% block header %}
        <h2>{{ topic }}</h2>
    {% endblock header %}

    {% block content %}
        <p>
             <a href="{% url 'DJ:new_entry' topic.id %}">Add new entry</a>
        </p>
            {% for entry in entries %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            {{ entry.date_added|date:'F d, Y H:i' }}
                            <small>
                                <a href="{% url 'DJ:edit_entry' entry.id %}">Edit entry</a>
                            </small>
                        </h4>
                    </div>
                    <div class="panel-body">
                        {{ entry.text|linebreaks }}
                    </div>
                </div>
                {% empty %}
                <h3>There aren't entries for this topic yet</h3>
            {% endfor %}
    {% endblock content %}
</body>
</html>